@import "tailwindcss";
@font-face {
    font-family: 'danawebGX';
    src: url('/fonts/danawebGX.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "danawebGX";
}

@theme {
    --color-black-1: #000;
    --color-orang-1: #FF6633;
    --color-blue-1: #4B4BF959;
    --color-blue-2: #1B6BE5;
    --color-purple-1: #00000099;
    --color-gray-1: #373737;
    --color-gray-2: #404040;
    --color-gray-3: #525252
}